// text color
$primary-color: #407aec; // primary color for all components
$link-color: #3064bb; // link color
$success-color: #52c41a; // success state color
$warning-color: #faad14; // warning state color
$error-color: #f5222d; // error state color
$text-color: #000000; // major text color
